body{
    background-color: #ffffff;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    form{
        margin: auto;
        .container{
            width: 400px;
            height: 370px;
            margin: 50px auto;
            border-radius: 20px;
            padding: 30px;
            box-shadow: inset 1px 1px 10px #c4c4c4, inset -1px -1px 10px #ffffff;
            h1{
                font-size: 26px;
                margin-bottom: 30px;
                text-transform: uppercase;
                color: #2f2f2f;
            }
            label{
                font-size: 18px;
                color: #2f2f2f;
            }
            input[type=email], input[type=text], input[type=password]{
                width: 90%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                background: #f1f1f1;
                font-size: 16px;
            }
            input[type=email]:focus, input[type=text]:focus, input[type=password]:focus{
                background-color: #ddd;
                outline: 1px solid #b33348;
            }
            input[type=submit]{
                width: 97%;
                padding: 15px;
                margin: 5px 0 22px 0;
                display: inline-block;
                border: none;
                color: white;
                background: #b33348;
                border-radius: 5px;
                border: 1px solid #b33348;
                cursor: pointer;
                font-size: 18px;
                &:hover{
                    background: #c94057;
                }
            }
        }
        #message{
            width: 500px;
            display: none;
            background: #f1f1f1f1;
            color: #000;
            position: relative;
            margin: auto;
            padding: 20px;
            margin-top: 10px;
            p{
                padding: 10px 35px;
                font-size: 18px;
            }
            .valid{
                color: green;
                &:before{
                    position: relative;
                    left: -35px;
                    content: "\2713";
                }
            }
            .invalid{
                color: #b33348;
                &:before{
                    position: relative;
                    left: -35px;
                    content: "\2716";
                }
            }

        }
    }
}